<!-- <p>album-description works!</p> -->
<div *ngIf="album" [@fadeInAnimation]>
    <div class="card-header shadow-sm p-3 mb-5">
        {{ album.ref }}
        <!-- <span *ngIf="status === album.id">[play]</span> -->
    </div>
    <div class="card-body">
        <h1>{{album.title}}</h1>
        <p class="card-text"><small class="me-2" style="font-size: 20px;">Name :</small> {{album.name}}</p>
        <p class="card-text"><small></small> {{album.description}} </p>
        <p><small class="me-2">Duration:</small>{{album.duration}} min</p>
        <p><small class="me-2">Like:</small>{{album.like}}</p>
        <ul class="list-group list-group-horizontal mb-3 col-sm-3 fw-bold">
            <li class="list-group-item list-group-item-action list-group-item-dark mx-1 rounded"

                *ngFor="let tag of album.tags"
                style="color: white; background-color: rgb(46, 46, 46);">{{tag}}</li>
        </ul>
    </div>
    <div>
        <img class="card-img-top" width="200" src="{{album.url}}" alt="Group Music">
    </div>
</div>